{% extends 'base.html' %}
{% load static %}
{% block title%}Profile{% endblock title %}

{% block content %}

<div class="user_info">
    <div class="stlb-avatar">
        <img src="{{ object.avatar.url }}" alt="sunil" class="avatar">
        <a href="{% url 'edit' object.pk %}">Edit Profile</a>
    </div>
    Username: {{ object.user }}<br>
    {% if object.first_name %}
        {{ object.first_name }}<br>
    {% endif %}
    {% if object.last_name %}
        {{ object.last_name }}
    {% endif %}
</div>

{% endblock content %}