<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
         integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
        <div class="nav">
            <!-- <p>asd</p> -->
            <a href="{% url 'signup' %}">Sign Up</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                <a href="{{ request.user.user_info.get_absolute_url }}">My Profile</a>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
      <div class="headind_srch">
        <div class="recent_heading">
          <button id="contacts"><h4>Contacts</h4></button>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Search Users" >
            <span class="input-group-addon">
            <button type="button" id="search_btn"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span> </div>
        </div>
      </div>
      <div class="inbox_chat" id="sidebar"></div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
</div>
</div>
</body>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"chat_pk" }}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/sidebar.js'  %}"></script>
    
</html>